@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap");
:root {
    --main-text-font: "Roboto", sans-serif;
    --logo-text-font: "Oswald", sans-serif;
    --main-color: #c7f023
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1024px;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

header {
    background-image: url("1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    position: relative;
}

.bg-image {
    position: absolute;
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.6;
}

.top {
    position: absolute;
    width: 100%;
    z-index: 1;
}

.header-top p {
    font-family: var(--logo-text-font);
    font-size: 25px;
    letter-spacing: 2px;
    color: var(--main-color);
}

.header-top p span {
    font-size: 20px;
}

.header-top {
    justify-content: space-between;
    padding: 12px 0;
    align-items: center;
}

.header-top ul {
    display: flex;
}

.header-top>i {
    font-size: 32px;
    color: var(--main-color);
    cursor: pointer;
    display: none;
}

.header-top ul li {
    margin-left: 12px;
    position: relative;
}

.header-top ul i {
    font-size: 32px;
    color: white;
    margin: 12px 0 0 12px;
    cursor: pointer;
    margin-bottom: 150px;
    display: none;
}

.header-top ul li::after {
    content: "";
    position: absolute;
    display: block;
    bottom: -2px;
    height: 3px;
    width: 0%;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--main-color);
    margin: auto;
    transition: 0.5s;
}

.header-top ul li a {
    font-family: var(--main-text-font);
    color: white;
    text-transform: uppercase;
}

.header-top ul li:hover::after {
    width: 100%;
}

.header-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 700px;
    min-width: 300px;
    text-align: center;
}

.header-text h1 {
    font-family: "Montserrat", sans-serif;
    color: white;
    font-weight: 600;
    margin-bottom: 20px;
    font-size: 32px;
}

.header-text p {
    font-family: "Montserrat", sans-serif;
    color: white;
}

.header-text button {
    width: 150px;
    height: 40px;
    margin-top: 20px;
    background-color: transparent;
    border: 2px solid var(--main-color);
    color: white;
    cursor: pointer;
    font-size: 20px;
    transition: 0.3s;
}

.header-text button:hover {
    background-color: var(--main-color);
}


/* Responsive */

@media (max-width: 575px) {
    /* -----------------------------responsive menu--------------- */
    .header-top ul {
        position: fixed;
        width: 200px;
        height: 100vh;
        background: var(--main-color);
        right: 0;
        top: 0;
        flex-direction: column;
        transform: translateX(100%);
        transition: all 0.5s ease;
        opacity: 0;
    }
    .header-top ul li {
        margin-bottom: 20px;
        margin-left: 50px;
    }
    .header-top>i {
        display: block;
    }
    .header-top ul i {
        display: block;
    }
    .header-top {
        padding: 0 12px;
    }
    /* -----------------------------responsive web--------------- */
    .course-item {
        width: 100%!important;
        margin-bottom: 12px;
    }
    .brand-item {
        width: 100%!important;
        margin-bottom: 12px;
    }
    .facilities-item {
        width: 100%!important;
        margin-bottom: 12px;
    }
    .testimony-item {
        width: 100%!important;
        margin-bottom: 12px;
    }
}


/* About Section */

.about {
    background-color: rgb(231, 219, 219);
}

.about-img,
.about-text {
    width: 50%;
    padding: 15px;
}

.about-text h3 {
    font-size: 30px;
    font-family: 'Mochiy Pop P One', sans-serif;
    ;
    text-transform: uppercase;
    margin: 0 0 15px;
}

.about-text p {
    margin: 0 0 15px;
    font-family: 'Hind', sans-serif;
}

.about-img .img-box img {
    width: 100%;
    border-radius: 10px;
}

.img-box {
    position: relative;
}

.img-box h2 {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 35px;
    transform: translate(-50%, -50%);
    font-family: 'Merriweather', serif;
    font-weight: 600;
    color: var(--dark);
}

.about-data-title h2 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
    margin: 0 0 15px;
}


/* ------------------brand-------------------- */

.brand {
    padding: 50px 0;
}

.brand h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 50px;
    text-align: center;
    margin-bottom: 30px;
    color: #333333;
}

.brand-items {
    justify-content: space-between;
}

.brand-item {
    width: 50%;
    position: relative;
    transition: all 0.3s ease;
}

.brand-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    padding: 20px;
    margin-bottom: 20px;
}

.brand-item h2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all 0.3s ease;
}

.brand-item::before {
    display: block;
    content: "";
    width: 100%;
    height: 100%;
    background-color: #f8bfaf;
    position: absolute;
    opacity: 0;
}

.brand-item:hover h2 {
    opacity: 1;
}

.brand-item:hover::before {
    opacity: 0.5;
}

.brand-item h2 {
    font-family: var(--main-text-font);
    margin-bottom: 12px;
    color: #f4f760;
}

.course-item p {
    font-family: var(--main-text-font);
    color: #f4f760;
}

.brand {
    background-color: rgb(240, 234, 234);
}


/* ------------------facilities-------------------- */

.facilities {
    padding: 50px 0;
}

.facilities>h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 50px;
    text-align: center;
    margin-bottom: 30px;
    color: #333333;
}

.facilities-items {
    justify-content: space-between;
}

.facilities-item {
    width: 30%;
    position: relative;
    transition: all 0.3s ease;
}

.facilities-item h1 {
    font-family: var(--main-text-font);
    font-size: 18px;
}

.facilities-item img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.facilities-item:hover img {
    transform: scale(1.03);
}

.facilities-item p {
    font-family: var(--main-text-font);
    color: #333333;
}


/* ---------------------Contact-------------------------- */

.contact {
    background-color: rgb(235, 231, 227);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px 0;
    text-align: center;
}

.contact p {
    color: rgb(10, 10, 10);
    font-size: 22px;
    font-family: var(--main-text-font);
}

.contact button {
    height: 40px;
    width: 150px;
    cursor: pointer;
    margin-top: 20px;
    background-color: rgb(37, 255, 37);
    border: none;
    color: white;
    font-family: var(--main-text-font);
    border-radius: 5px;
    transition: all 0.3s ease;
}

.contact button:hover {
    background: transparent;
    border: 2px solid var(--main-color);
}


/*-----------------------------------
# Footer
--------------------------------------*/

#footer {
    clear: both;
    background-color: #e0f0f7;
    padding: 0 0 30px 0;
    color: #444444;
    font-size: 14px;
}

#footer .container {
    text-align: center;
    width: 100%;
}

#footer .footer-contact {
    padding: 0 10px 0 10px;
    margin-bottom: 30px;
}

#footer .footer-contact p {
    font-size: 14px;
    margin-bottom: 0;
    font-family: "Lato", sans-serif;
    color: #777777;
}

#footer h3 {
    font-size: 40px;
    font-weight: bold;
    padding-top: 20px;
}

#footer .social-icon a {
    display: inline-block;
    background: #0a0a0a;
    color: #fff;
    padding: 8px 8px 5px 8px;
    border-radius: 4px;
    transition: 0.3s;
}

#footer .social-icon a:hover {
    background: #000000;
    transform: scale(1.1);
}